<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @datum.title %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to "file", @datum.datagram.url %>

<p>
  <strong>Description:</strong>
  <%= @datum.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @datum.user %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
